#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.bp3-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.bp3-progress-bar {
  height: 20px;
  border-radius: 5px;
}
  


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.mood-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.mood-card {
  width: 200px;
  text-align: center;
  padding: 10px;
}

.mood-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.mood-icon {
  font-size: 30px;
  margin-right: 10px;
}

.mood-info {
  display: flex;
  flex-direction: column;
}

.mood-time {
  font-size: 12px;
  color: #888;
}

.mood-gif img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
